<!DOCTYPE html>
<html>
    {% include 'head.html.twig' %}

    <body>
        {% block body %}
        <h1>
            HO HO HO
        </h1>
        
        {% endblock %}
    </body>
    {% include 'footer.html.twig' %}

</html>
