<footer class="">
    <div class="container text-center" id="footer">
        <a class="btn btn-outline-dark mx-1 my-2" href="" title="ACCUEIL">ACCUEIL</a>
        <a class="btn btn-outline-dark mx-1 my-2" href="" title="CGV">CGV</a>
        <a class="btn btn-outline-dark mx-1 my-2" href="" title="Mentions-Legales">Mentions Légales</a>
        <a class="btn btn-outline-dark mx-1 my-2" href="" title="Politiques-de-Confidentialite">Politiques de Confidentialité</a>
        <a class="btn btn-outline-warning mx-1 my-2" href="" title="CGV">Déconnexion</a>
    </div>
</footer>

